{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'data.upload-json'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'data.upload-json-text'|trans }}</p>

  {{ form(form) }}
{% endblock %}
