
<div class="row justify-content-center m-3 mt-5 mb-5 text-center">
  <div class="col-sm-12 col-md-10 col-xl-10 mt-3">
    {% embed 'search/search_form.html.twig' with {search_path: path('_home', {'_studyArea': study_area_slug, 'pageUrl': 'search'})} %}
      {% block search_form_input_group_prepend %}
        <div class="input-group-prepend d-none d-md-block">
          <span class="input-group-text ucgis-orange-input-group">Search Topics</span>
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>
