@use 'sass:color';

// Color used in the design

$ucgis-blue: #2b4e56;
$ucgis-orange: #e87338;
$ucgis-yellow: #ffcb39;
$ucgis-green: #39b299;
$ucgis-red: #e54a41;

// General layout colors
$background-color: #e4e4e4;
$drag-background-color: color.adjust($background-color, $lightness: -10%);
$drag-stripes-color: color.adjust($background-color, $lightness: -40%);

$loader-color: color.adjust($background-color, $lightness: -50%);

$soft-red: #ff524d;
$soft-yellow: #fff256;
$soft-green: #91ff6d;
