@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.license-notice {
  margin-top: $spacer;
  display: flex;

  p {
    text-align: center;
  }

  > .license-image {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: $spacer * 0.5;
    height: 2rem;
    width: 3rem;
    background: url('../../img/footer/ltb-icon.svg') no-repeat bottom left;
    background-size: contain;
  }

  > .creative-commons-license {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: $spacer * 0.5;
    height: 2rem;
    width: 6.5rem;
    background: url('../../img/footer/license.svg') no-repeat bottom right;
    background-size: contain;
  }
}

h1 {
  font-size: 1rem;
}

.logo {
  width: 100px;
  height: auto;
}

/* Small phones and up */
@media (min-width: 481px) {
  h1 {
    font-size: 1.25rem;
  }
}

/* Tablets and up */
@media (min-width: 769px) {
  h1 {
    font-size: 1.75rem;
  }
  .logo {
    width: 125px;
  }
}


