<!DOCTYPE html>
<html lang="en">
<head>
  <title>UCGIS GIS&T BoK | {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://tradewing-prod.imgix.net/RDHMXhYibrDe7TG4d/logoFiles/8QsHLoxupFLY3XvFy?ixlib=js-3.2.1&fill=blur&fit=fill&h=114&w=114&s=1f0e7771bd48c5c6e9c47012602895c6">
  <link rel="shortcut icon" href="https://tradewing-prod.imgix.net/RDHMXhYibrDe7TG4d/logoFiles/8QsHLoxupFLY3XvFy?ixlib=js-3.2.1&amp;fill=solid&amp;fit=fill&amp;h=32&amp;w=32&amp;s=d84d8a90337cc45c701effd09f0cc27b">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#f8f9fa">

  {% block default_javascripts %}
    {{ encore_entry_script_tags('vendor') }}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}

  <!-- Included JS -->
  {% block javascripts %}{% endblock %}

  <!-- Default CSS -->
  {% block default_stylesheets %}
    {{ encore_entry_link_tags('vendor') }}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  <!-- Included CSS -->
  {% block stylesheets %}{% endblock %}
</head>
<body>
{% block base_content %}{% endblock %}
{% block javascripts_bottom %}{% endblock %}
</body>
</html>
